@model MVCAjax.Models.Photo
@{
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Addcomment"
    };
}
@using (Ajax.BeginForm("AddComment", ajaxOptions))
{
    <img src="/Image/@Model.PhotoName" />
    <input type="text" name="photoComment" />
    <input type="submit" value="Add Comment" />
}

<div id="Addcomment">
    @{Html.RenderAction("IndexPartial");}
</div>
